body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: black;
}

#cameraView {
	background: transparent;
}

#jpgFromCamera {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
	height: 70%;
}

#jpgFromCamera, #clock, #ipAddress {
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#ipAddress {
	margin-top: 75px;
	font-size: 25px;
	position:absolute;
}
#ipAddress, #clock {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
#clock {
	font-size: 60px;
	position: absolute;
}
