body {
	margin: 0;
	padding: 0;
	background: black;
}

#cameraView {
	background: transparent;
}

#jpgFromCamera {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
	height: 70%;
}

#jpgFromCamera, #clock {
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#clock {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 60px;
	font-size: 40px;
	position: absolute;
	color: white;
}